body {
    background-color: dark;
    font-weight: bold;
    background-image: url(../images/profile-picture.jpg);
    background-size: 100% 10rem;
    background-repeat: no-repeat;
}

ul li::before {
    content: "\2192";
    margin-right: 5px;
}

.hero-section {
}

.self-picture {
    width: 5%;
    height: 5%;
}

.education-details {
}

.first-hover {
    position: absolute;
    border-bottom: 1px solid black;
}

.second-hover {
    border-bottom: 1px solid black;
}

.third-hover {
    border-bottom: 1px solid black;
}

.fstyr {
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    height: 1px;
    overflow: hidden;
}

.fstyr:hover {
    height: 625px;
}
.sndyr{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thrdyr {


    transition: opacity 0.3s ease;
}

.frtyr {

}

.hero-section-img {
    height: 100px;
    width: 100px;
}