ul li::before {
    content: "\2192";
    margin-right: 5px;
}

.hero-section {
}

.hero-card {
    background-image: url(../images/background-image.jpeg);
    background-size: 100% 14rem;
    background-repeat: no-repeat;
    max-width: 50%;
}

.hero-section-img {
    height: 100px;
    width: 100px;
}

.gpa-heading {
    font-weight: bold;
}

.fstyr {
    position: relative;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s;
    height: 10px;
    max-height: 600px;
    overflow: hidden;
    border-color: azure;
}

.fstyr:hover {
    height: 600px;
}

.sndyr{
    position: relative;
    transition: height 0.5 ease;
    -webkit-transition: height 0.5s;
    height: 10px;
    max-height: 750px;
    overflow: hidden;
    border-color: azure;
}

.sndyr:hover {
    height: 750px;
}

.thrdyr{
    position: relative;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s;
    height: 10px;
    max-height: 600px;
    overflow: hidden;
    border-color: azure;
}

.thrdyr:hover {
    height: 600px;
}

.frtyr{
    position: relative;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s;
    height: 10px;
    max-height: 375px;
    border-color: azure;
    overflow: hidden;
}

.frtyr:hover {
    height: 375px;
}